<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find my_urdf)/launch/myrobot.world" />
  </include>

  <arg name="model" default="$(find urdf_hw)/urdf/robot.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <rosparam file="$(find urdf_hw)/config/controller.yaml" command="load"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
      args="left_wheel_effort_controller right_wheel_effort_controller caster_effort_controller front_wheel_position_controller joint_state_controller"/>

</launch>

